.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 500px;
  }
  
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
  }